@charset "UTF-8";

/*CSS Reset*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

/* В эксплорере убирает крестик в поле ввода */

input::-ms-clear- {
  display: none;
}

button {
  cursor: pointer;
}

/* В фаерфоксе убирает лишние отступы в кнопках */

button-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------------*/

.header {
  background: url(../img/Backgrounds/grid.png) 70% 100% no-repeat, url("../img/Backgrounds/header-banner.png");
  padding: 0 150px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: -align;
  height: 805px;
  position: relative;
}

.header__wrapper::before {
  content: "";
  background: url(../img/Backgrounds/man.png);
  display: block;
  width: 724px;
  height: 767px;
  position: absolute;
  bottom: 0;
  left: -150px;
  z-index: 1;
}

.header__title {
  font-size: 80px;
  line-height: 82px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.header__status {
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 2;
}

.header__status::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -67px;
}

.header__social {
  position: absolute;
  top: calc(50% - 70px);
  right: 0;
  z-index: 1;
}

.header__link {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

.header__link:hover,
.header__link:focus {
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(212, 101, 239, 0.7)), color-stop(55.88%), color-stop(95.96%, rgba(102, 16, 242, 0.7))) 0px 0px/100% no-repeat no-repeat;
  background: -o-linear-gradient(bottom, rgba(212, 101, 239, 0.7) 0%, 55.88%, rgba(102, 16, 242, 0.7) 95.96%) 0px 0px/100% no-repeat no-repeat;
  background: linear-gradient(0deg, rgba(212, 101, 239, 0.7) 0%, 55.88%, rgba(102, 16, 242, 0.7) 95.96%) 0px 0px/100% no-repeat no-repeat;
}

.header__link img {
  width: 18px;
  height: 18px;
}

.header::after {
  content: "";
  background: url(../img/Backgrounds/cirlcle.png);
  display: block;
  width: 531px;
  height: 504px;
  position: absolute;
  top: 0;
  right: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: -align;
  padding: 25px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: -align;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  font-size: 15px;
  color: #fff;
}

.nav__list-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav__list-item:focus {
  text-decoration: underline;
}

.nav__list-item:active {
  opacity: 0.3;
}

.nav__btn {
  z-index: 1;
}

.nav__burger {
  display: none;
}

.nav__sticky {
  position: fixed;
  top: -70px;
  left: 0;
  width: 100%;
  padding: 25px 15px;
  z-index: 9;
  -webkit-transform: translateY(70px);
      -ms-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #000;
}

.footer {
  background: #001D38;
  padding-top: 100px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  text-align: -align;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: -align;
  gap: 46px;
  text-transform: capitalize;
}

.footer__list-item {
  font-size: 15px;
  line-height: -height;
  font-weight: 500;
  color: #fff;
}

.footer__list-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__list-item:focus {
  text-decoration: underline;
}

.footer__list-item:active {
  opacity: 0.3;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  text-align: -align;
  gap: 20px;
}

.footer__img {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #334A60;
  border-radius: 50%;
}

.footer__img img {
  width: 45%;
  margin-top: 10.5px;
}

.footer__img:hover {
  cursor: pointer;
  background: #615CFD;
  border: 1px solid #615CFD;
}

.footer__img:focus {
  background: #615CFD;
  border: 1px solid #615CFD;
}

.footer__copyright {
  font-size: 13px;
  line-height: -height;
  font-weight: 400;
  color: #C7C7C7;
  text-align: center;
  margin: 100px 0 0 0;
  padding: 30px 0;
  border-top: 1px solid #334A60;
}

.footer__copy {
  display: inline;
}

.footer__copy a {
  color: #5DB2FF;
  cursor: pointer;
}

.footer__copy a:hover {
  text-decoration: underline;
}

.footer__copy a:focus {
  text-decoration: underline;
}

.footer__copy a:visited {
  text-decoration: underline;
  color: #615cfd;
}

.footer__copy a:active {
  opacity: 0.8;
}

.footer__heart {
  width: 13px;
}

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*=owl-] {
  margin: 5px;
  background: transparent;
  display: inline-block;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 50px;
  width: 50px;
  border: 1px solid #787878 !important;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  cursor: pointer;
  background: #615CFD;
  border-color: transparent !important;
}

.owl-theme .owl-nav [class*=owl-]:focus {
  background: #615CFD;
  border-color: transparent;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

@font-face {
  font-family: "Muli";
  src: local("Muli"), url("https://nomail.com.ua/files/woff/fe82d4bebb545cd0d8c9683e258e961c.woff") format("woff");
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

html {
  font-family: "Muli", sans-serif;
}

img {
  max-width: 100%;
}

.title {
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.title_dark {
  color: #000;
}

.title_bigger {
  font-size: 80px;
  line-height: 82px;
  font-weight: 700;
  color: -color;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 14px 38px;
  background: #615CFD;
  border: 1px solid transparent;
  color: #fff;
}

.button:hover {
  border-color: #615CFD;
  color: #615CFD;
  background: transparent;
}

.button_pink {
  color: #fff;
  background: #D465EF;
  padding: 12px 26px;
  font-weight: 500;
  border: 1px solid transparent;
}

.button_pink:hover {
  -webkit-box-shadow: 1px 1px 4px #D465EF;
          box-shadow: 1px 1px 4px #D465EF;
  background: #D465EF;
}

.button_pink .button__text:active {
  color: #6f42c1;
}

.button_light {
  font-size: 15px;
  color: #615CFD;
  border: 1px solid #615CFD;
  padding: 13px 34px;
  font-weight: 600;
  background: transparent;
}

.button_light:hover {
  background: #615CFD;
  color: #fff;
}

.button_light :focus {
  text-decoration: underline;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  text-decoration: underline;
  -webkit-box-shadow: 1px 1px 4px #D465EF;
          box-shadow: 1px 1px 4px #D465EF;
}

.services {
  padding: 120px 0;
}

.services__heading {
  text-align: center;
}

.services__heading span {
  font-size: 13px;
  line-height: -height;
  font-weight: 100;
  color: #001D38;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: block;
  letter-spacing: 3px;
}

.services__heading span::before {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background: #615CFD;
  position: absolute;
  left: 50%;
  bottom: 170%;
}

.services__title {
  margin-bottom: 67px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: -align;
  margin: 0 -15px;
}

.services__service {
  margin: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.service {
  padding: 48px 35px 45px;
  border: 1px solid #E8E8E8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.service__title {
  font-size: 24px;
  line-height: -height;
  font-weight: 600;
  color: #2C2C2C;
  margin-top: 24px;
  padding-bottom: 12px;
}

.service__text {
  font-size: 16px;
  line-height: 30px;
  font-weight: -weight;
  color: #727272;
}

.service:hover {
  border-color: #615CFD;
}

.portfolios {
  padding: 0 0 75px 0;
}

.portfolios__bg {
  background: #001D38;
  width: 100%;
  height: 700px;
  margin-bottom: -520px;
}

.portfolios__heading {
  text-align: center;
}

.portfolios__heading span {
  font-size: 13px;
  line-height: -height;
  font-weight: 300;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: block;
}

.portfolios__title {
  margin: 20px 0 60px;
}

.portfolios__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  text-align: -align;
  margin: 0 -15px;
}

.portfolios__item {
  margin: 0 15px;
  padding: 0 0 15px 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolios__subtitle {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 86.365px);
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.portfolios__popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 15px);
  background: rgba(97, 92, 253, 0.6);
  opacity: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolios__popup:hover {
  cursor: pointer;
}

.portfolios .popup__hovered {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.portfolios__btn {
  margin: 60px auto 0;
}

.about {
  position: relative;
  padding-top: 70px;
}

.about__background-title {
  font-size: 235px;
  line-height: 1;
  font-weight: 800;
  color: #F5F6F7;
  position: absolute;
  left: 21%;
  top: -50px;
  z-index: -1;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  text-align: -align;
  margin: 0 -15px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  text-align: -align;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 15px;
  padding: 100px 0;
}

.about__title {
  text-align: left;
}

.about__text {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  color: #727272;
}

.about__media {
  position: relative;
  width: 540px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 15px;
}

.about__cosmetic {
  position: absolute;
  top: -123px;
  right: 0;
  z-index: -1;
}

.about__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -ms-flex-wrap: -wrap;
      flex-wrap: -wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  text-align: -align;
  gap: 30px;
  padding: 215px 0 120px;
}

.about__counter {
  border: 1px solid #E8E8E8;
  padding: 50px 0 43px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
}

.about__counter:hover {
  border-color: #615cfd;
}

.about__number {
  font-size: 50px;
  line-height: -height;
  font-weight: 700;
  color: #615CFD;
}

.about__descr {
  font-size: 15px;
  line-height: -height;
  font-weight: 400;
  color: #001D38;
  margin-top: 16px;
}

.feedback {
  padding: 130px 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 29, 56, 0)), to(#001d38)), url(../img/Backgrounds/banner.png) center center/cover;
  background: -o-linear-gradient(left, rgba(0, 29, 56, 0) 0%, #001d38 100%), url(../img/Backgrounds/banner.png) center center/cover;
  background: linear-gradient(to right, rgba(0, 29, 56, 0) 0%, #001d38 100%), url(../img/Backgrounds/banner.png) center center/cover;
}

.feedback__quotes {
  width: 47.5px;
  height: 35.63px;
  text-align: center;
  margin: 0 auto;
}

.feedback__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 34px 0;
}

.feedback__author {
  text-align: center;
}

.feedback__avatar {
  width: 42px;
  height: 42px;
  margin: 0 auto;
}

.feedback__name {
  font-size: 15px;
  line-height: -height;
  font-weight: 500;
  color: #fff;
  margin: 15px 0 10px;
  text-transform: capitalize;
}

.feedback__status {
  font-size: 13px;
  line-height: -height;
  font-weight: 400;
  color: #fff;
}

.owl-carousel {
  position: relative;
}

.owl-nav {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
}

.owl-prev {
  float: left;
}

.owl-next {
  float: right;
}

.ti-angle-left::before {
  content: url(../img/Logos-icons/bot-arrow.png);
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 9px);
  -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg);
}

.ti-angle-right::before {
  content: url(../img/Logos-icons/bot-arrow.png);
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 3px);
  -webkit-transform: rotateZ(270deg);
      -ms-transform: rotate(270deg);
          transform: rotateZ(270deg);
}

.discuss {
  background: #001D38;
  padding: 150px 0 50px 0;
}

.discuss__text {
  font-size: 15px;
  line-height: 28px;
  font-weight: -weight;
  color: #fff;
  margin: 20px 0 30px;
  text-align: center;
}

.discuss__btn {
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .nav {
    padding: 25px 0;
  }

  .nav__sticky {
    padding: 25px 15px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 0 15px;
  }

  .header__status {
    font-size: 16px;
  }

  .header__wrapper::before {
    left: -15px;
  }

  .button__pink {
    padding: 12px 20px;
  }

  .title_bigger {
    font-size: 45px;
    line-height: 55px;
    font-weight: -weight;
    color: -color;
    letter-spacing: 3px;
  }

  .portfolios__item:first-of-type {
    width: 370px;
  }

  .portfolios__item:nth-of-type(2) {
    width: 530px;
  }

  .portfolios__item:nth-of-type(2) ~ .portfolios__item {
    width: 289.98px;
  }

  .about {
    margin-top: -65px;
  }

  .about__subrow {
    padding-top: 165px;
  }

  .about__media {
    padding-top: 130px;
  }

  .about__content {
    margin-top: 130px;
    padding: 30px 0;
  }

  .container {
    max-width: 992px;
    overflow: hidden;
  }
}

@media (max-width: 1180px) {
  .footer__list {
    gap: calc(20px + 26 * ((100vw - 320px) / 860));
  }
}

@media (max-width: 992px) {
  .nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 30px;
    background: #2C2C2C;
    z-index: 9;
  }

  .nav__btn {
    display: none;
  }

  .nav__list {
    display: block;
    position: absolute;
    top: 58px;
    left: 60px;
    width: 87%;
    line-height: 21px;
    background: #fff;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .nav__burger {
    display: block;
    cursor: pointer;
  }

  .nav__burger_line {
    display: block;
    height: 3px;
    width: 30px;
    background: #fff;
    margin: 5px 0;
  }

  .nav__open .nav__list {
    max-height: 220px;
  }

  .nav__open .nav__list-item {
    font-size: 14px;
    line-height: -height;
    font-weight: 400;
    color: #000;
    padding: 5px 10px;
    margin: 2px 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .nav__open .nav__list-item:hover {
    text-decoration: none;
    color: #5DB2FF;
  }

  .nav__mobile-sticky {
    position: fixed;
    top: -58px;
    width: 100%;
    padding: 10px 30px;
    z-index: 9;
    -webkit-transform: translateY(58px);
        -ms-transform: translateY(58px);
            transform: translateY(58px);
    -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
    transition: background 500ms ease, -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease, background 500ms ease;
    transition: transform 500ms ease, background 500ms ease;
    transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.96);
    background: #000;
  }

  .header {
    background: url("../img/Backgrounds/header-banner.png") center/cover;
  }

  .header::after {
    width: 320px;
    height: 320px;
    background-size: cover;
  }

  .header__status {
    font-size: 30px;
  }

  .header__wrapper {
    height: 560px;
  }

  .header__wrapper::before {
    width: 370px;
    height: 370px;
    background-size: cover;
  }

  .header__title {
    margin-bottom: 10px;
  }

  .header__social {
    right: 85px;
  }

  .title {
    font-size: 36px;
    line-height: 32px;
  }

  .title_bigger {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0px;
  }

  .service {
    padding: 30px 20px;
  }

  .service__title {
    font-size: 22px;
  }

  .portfolios {
    padding-bottom: 0;
  }

  .portfolios__item:first-of-type {
    width: 270px;
  }

  .portfolios__item:nth-of-type(2) {
    width: 390px;
  }

  .portfolios__item:nth-of-type(2) ~ .portfolios__item {
    width: 330px;
  }

  .portfolios__item:nth-of-type(5) {
    min-width: 89%;
    max-height: 410px;
  }

  .portfolios__item:nth-of-type(5) img {
    min-width: 100%;
    max-height: 395px;
  }

  .about {
    margin-top: -55px;
  }

  .about__background-title {
    display: none;
  }

  .about__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about__content {
    max-width: 330px;
  }

  .about__media {
    width: 330px;
  }

  .about__cosmetic {
    display: none;
  }

  .about__title {
    font-size: 50px;
    font-weight: 700;
  }

  .container {
    max-width: 768px;
    overflowX: scroll;
  }
}

@media (max-width: 768px) {
  .nav__list {
    left: 30px;
    width: 91%;
  }

  .header::after,
  .header__social {
    display: none;
  }

  .header__title {
    margin: 0;
  }

  .header__status {
    font-size: 16px;
  }

  .header__wrapper::before {
    width: 314px;
    height: 300px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .title {
    font-size: 30px;
    line-height: 36px;
  }

  .services__title {
    max-width: 510px;
    margin: 0 auto 67px;
  }

  .services__title br {
    display: none;
  }

  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .service {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 77%;
            flex: 0 1 77%;
    padding: 48px 35px 45px;
  }

  .portfolios__bg {
    margin-bottom: -620px;
  }

  .portfolios__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }

  .portfolios__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 510px;
            flex: 0 1 510px;
    max-height: 410px;
    padding-bottom: 0;
    /* &:nth-of-type(3), &:nth-of-type(4) {
    	& img { margin-top: -50px; }
    } */
  }

  .portfolios__item img {
    min-height: unset;
    max-height: unset;
    min-width: 100%;
    max-height: 410px;
  }

  .portfolios__item:nth-of-type(5) {
    min-width: unset;
  }

  .portfolios__content {
    max-width: 510px;
    max-height: 410px;
  }

  .portfolios__popup {
    min-height: 100%;
  }

  .about {
    margin: 15px 0 0 0;
  }

  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__content,
  .about__media {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 514px;
            flex: 0 1 514px;
    max-width: unset;
    padding: 0 0 30px 0;
    margin: 0;
  }

  .about__text {
    margin: 28px 0 36px;
  }

  .about__title {
    font-size: 50px;
    font-weight: 700;
  }

  .about__subrow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 65px 0 30px;
  }

  .about__counter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    margin: 0 auto;
  }

  .container {
    max-width: 90%;
  }
}

@media (max-width: 575px) {
  .nav__list {
    left: 3%;
    width: 93%;
  }

  .about__content {
    padding: 0 10px 30px;
  }

  .about__media {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 375px) {
  .header__wrapper::before {
    width: 300px;
    height: 280px;
  }
}